<h1>
  Department #<%= @department.id %> details
</h1>

<a href="/departments/<%= @department.id %>/edit">
  Edit department
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @department.name %>
  </dd>
  
   <dt>
    Number of courses
  </dt>
  <dd>
    <%= Course.where(department_id: @department.id).count %>
  </dd>
</dl>



<a href="/delete_department/<%= @department.id %>">
  Delete department
</a>

<hr>

<a href="/departments">
  Go back
</a>
